.navspacer {
  height: 74px;
}

.linkstyle {
  color: white;
  font-size: 0.95em;
  font-weight: bolder;
  padding-top: 8px;
  display: inline-block;
  margin: 0 -10px 0 -10px;
}

.linkstyle:hover {
  text-decoration: underline;
  color: white;
}

.registerbutton {
  border: none;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 0.95em;
  font-weight: bolder;
  padding: 8px 16px 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.registerbutton:hover {
  text-decoration: underline;
}

.navheader {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
}

.navzone {
  display: none;
}

.navbox {
  display: none;
}

.navgo {
  display: none;
}

.NavWelcome {
  color: white;
  font-weight: bold;
  font-size: 1.05em;
  padding-right: 10px;
}

.NavSettings {
  padding: 0 10px 0 10px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 1em;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.NavLogout {
  padding-left: 10px;
  color: #eeeeee;
  font-size: 1em;
}

.NavSettings:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.NavLogout:hover {
  text-decoration: underline;
  text-decoration-color: grey;
}

.NavSettingsTitle {
  color: white !important;
}

@media only screen and (min-width: 435px) {
  .linkstyle {
    font-size: 1.05em;
    margin: 0;
  }

  .registerbutton {
    font-size: 1.05em;
  }
}

@media only screen and (min-width: 1024px) {
  .navzone {
    margin-left: 50px;
    display: block;
    width: 50vw;
    height: 40px;
  }

  .navbox {
    display: inline-block;
    width: 78%;
    height: 100%;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px 20px 0 20px;
    font-size: 1.05em;
  }

  .navgo {
    display: inline-block;
    width: 16%;
    height: 100%;
    float: right;
    border-radius: 15px !important;
  }

  .navspacer {
    height: 80px;
  }
}
