.linkstyle {
  color: white;
  font-size: 1.05em;
  font-weight: bolder;
  padding-top: 8px;
  display: inline-block;
}

.linkstyle:hover {
  text-decoration: underline;
  color: white;
}

.registerbutton {
  border: none;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 1.05em;
  font-weight: bolder;
  padding: 8px 16px 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.registerbutton:hover {
  text-decoration: underline;
}
