.RestaurantFeedComponentContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 300px;
  margin: 0 50px 50px 0;
  border: 2px solid #cccccc;
  border-radius: 15px;
  width: 100%;
  background-color: white;
}

.RestaurantFeedComponentContainer:hover {
  cursor: pointer;
  border: 2px solid #aaaaaa;
}

.RestaurantFeedComponentContainer:active {
  border: 2px solid #888888;
}

.RestaurantFeedComponentImage {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.RestaurantFeedComponentImage img {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.RestaurantFeedComponentContent {
  padding: 10px 0 0 10px;
}

.RestaurantFeedComponentContent h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2px;
}

.RestaurantFeedComponentContentLeft {
  float: left;
}

@media only screen and (min-width: 800px) {
  .RestaurantFeedComponentContainer {
    width: calc(50% - 50px);
  }
}

@media only screen and (min-width: 1200px) {
  .RestaurantFeedComponentContainer {
    width: calc(33% - 50px);
  }
}
