.accountcontainer {
  height: 92vh;
}

.accountleftpane {
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px solid #b5b5b5;
}

.accountleftpane h2 {
  font-weight: bold;
  font-size: 1.8em;
}

.accountleftpane li {
  list-style-type: none;
  padding-top: 20px;
  margin-left: -20px;
}

.accountrightpane {
  float: right;
  width: 70%;
  height: 100%;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
}

.accountrightpane h2 {
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 15px;
}

.ProfileHeaderLeft {
  float: left;
  font-weight: bold;
  padding-right: 10px;
}

.ProfileUserInfo {
  display: inline;
  font-size: 0.8em;
}

.ProfileEditLink {
  float: right;
  padding-right: 40px;
  color: blue;
}

.ProfileEditLink:hover {
  text-decoration: underline;
}

.ProfileInputBox {
  display: block;
  width: 30%;
  height: 40px;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.ProfileFormTest {
  display: block;
  color: #434343;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px;
}

.ProfileErrorMessage {
  color: red;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
  white-space: pre-wrap;
  font-size: 0.9em;
}

.ProfileSuccessMessage {
  color: green;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
  white-space: pre-wrap;
  font-size: 0.9em;
}
