.splashcontainer {
  display: flex;
  overflow: hidden;
}

.splashcontainer img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.splashcontainermobile {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 388px;
  top: 0px;
  position: absolute;
  justify-content: center;
  z-index: -1;
}

.splashcontainermobile img {
  position: absolute;
  top: 0;
  height: 100%;
}

.splashzonesticky {
  position: absolute;
  font-family: "Catamaran", sans-serif;
  color: white;
  width: 100%;
  top: 140px;
  z-index: 1030;
}

.splashzonesticky h1 {
  font-weight: bolder;
  font-size: 1.7em;
  color: white;
}

.splashzone {
  position: absolute;
  font-family: "Catamaran", sans-serif;
  color: white;
  width: 100%;
  top: 140px;
}

.splashzone h1 {
  font-weight: bolder;
  font-size: 1.7em;
  color: white;
  padding-top: 0px;
}

.splashbox {
  height: 45px;
  width: 74%;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 15px;
  padding: 5px 20px 0 20px;
  font-size: 1.05em;
}

.splashgo {
  width: 16%;
  height: 45px;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 15px !important;
}

.splashcontentmobile {
  position: absolute;
  top: 388px;
  width: 100%;
  z-index: -1;
}

.splashcontent {
  position: absolute;
  top: 30.22vw;
  width: 100%;
  z-index: -1;
}

.splashcenterdiv {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.splashcentercontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0 100px 0;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  justify-content: center;
}

.splashcentercontainerreverse {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0 100px 0;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  justify-content: center;
}

.splashtrio {
  max-width: 400px;
  width: 100%;
  margin: 20px 20px 30px 20px;
}

.splashtrio img {
  padding-bottom: 20px;
}

.splashtrio h5 {
  font-size: 1.5em;
  font-weight: bold;
}

.splashtrio p {
  font-size: 0.9em;
}

.splashduo {
  max-width: 500px;
  width: 100%;
  margin: -40px 20px 30px 20px;
}

.splashduo img {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}

.splashduo h5 {
  font-size: 1.5em;
  font-weight: bold;
}

.splashduo p {
  font-size: 0.9em;
  margin-bottom: 40px;
}

.splashfooter {
  background-color: #333366;
  color: white;
  width: 100%;
  height: 200px;
  padding-top: 60px;
}

@media only screen and (min-width: 435px) {
  .splashbox {
    width: 76%;
  }

  .splashgo {
    width: 18%;
  }

  .splashzone h1 {
    font-size: 2.2em;
  }

  .splashzonesticky h1 {
    font-size: 2.2em;
  }

  .splashzone {
    top: 135px;
  }

  .splashzonesticky {
    top: 135px;
  }
}

@media only screen and (min-width: 595px) {
  .splashzone h1 {
    font-size: 2.5em;
  }

  .splashzonesticky h1 {
    font-size: 2.5em;
  }

  .splashzone {
    top: 130px;
  }

  .splashzonesticky {
    top: 130px;
  }
}

@media only screen and (min-width: 780px) {
  .splashzone h1 {
    font-size: 3em;
  }

  .splashzonesticky h1 {
    font-size: 3em;
  }

  .splashzone {
    top: 125px;
  }

  .splashzonesticky {
    top: 125px;
  }
}

@media only screen and (min-width: 1024px) {
  .splashcontainer {
    display: flex;
    overflow: hidden;
  }

  .splashzone {
    width: 450px;
    top: 8vw;
    left: 12vw;
  }

  .splashzone h1 {
    padding-top: 23px;
    font-size: 2.3em;
  }

  .splashzonesticky {
    width: 450px;
    position: fixed;
    top: -10px;
    left: 12vw;
  }

  .splashzonesticky h1 {
    font-size: 0px;
  }

  .splashbox {
    width: 78%;
    margin-left: 0px;
  }

  .splashgo {
    width: 20%;
    margin-right: 0px;
  }

  .splashcentercontainer {
    flex-direction: row;
  }

  .splashcentercontainerreverse {
    flex-direction: row-reverse;
  }

  .splashtrio {
    width: 30%;
  }

  .splashduo {
    width: 50%;
  }
}

@media only screen and (min-width: 1140px) {
  .splashzone {
    width: 500px;
  }
  .splashzone h1 {
    font-size: 2.7em;
    padding-top: 15px;
  }
  .splashzonesticky {
    width: 500px;
  }
}

@media only screen and (min-width: 1366px) {
  .splashzone {
    width: 575px;
    top: 10vw;
  }
  .splashzone h1 {
    font-size: 3em;
    padding-top: 10px;
  }
  .splashzonesticky {
    width: 575px;
  }
}

@media only screen and (min-width: 1480px) {
  .splashzone {
    width: 625px;
  }
  .splashzone h1 {
    font-size: 3.3em;
    padding-top: 3px;
  }
  .splashzonesticky {
    width: 625px;
  }
}

@media only screen and (min-width: 1600px) {
  .splashzone {
    width: 650px;
  }
  .splashzone h1 {
    font-size: 3.5em;
    padding-top: 0px;
  }
  .splashzonesticky {
    width: 650px;
  }
}
