.ManageRestaurantInputBox {
  height: 40px;
  width: 500px;
  border: 1px solid grey;
  margin: 0 30px 20px 0;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.ManageRestaurantTextArea {
  height: 200px;
  width: 500px;
  border: 1px solid grey;
  padding: 5px 10px 0 10px;
  border-radius: 5px;
}

.ManageRestaurantTime {
  display: flex;
}

.ManageRestaurantTimeCol {
  width: 275px;
}
