.ManageRestaurantTagComponent {
  height: 200px;
  width: 80%;
  border: 1px solid grey;
  padding: 5px 10px 0 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ManageRestaurantAppliedTags {
  height: 25%;
  width: 100%;
  border-bottom: 2px solid lightgray;
}

.ManageRestaurantTagArea {
  height: 75%;
  width: 100%;
  overflow-x: auto;
}

.ManageRestaurantTagItem {
  padding: 3px;
  margin: 6px 3px 6px 3px;
  border-radius: 6px;
  border: 2px solid skyblue;
  background-color: #def1fd;
  display: inline-block;
  cursor: default;
}

.ManageRestaurantTagItemSelected {
  padding: 3px;
  margin: 6px 3px 6px 3px;
  border-radius: 6px;
  background-color: #0066ff;
  border: 2px solid #0066ff;
  color: white;
  display: inline-block;
  cursor: default;
}

.ManageRestaurantTagItemSelected:hover {
  border: 2px solid #0033cc;
  background-color: #0033cc;
  cursor: pointer;
}

.ManageRestaurantTagItem:hover {
  border: 2px solid #0066ff;
  background-color: #99ccff;
  cursor: pointer;
}

.ManageRestaurantTime {
  display: flex;
}

.ManageRestaurantTimeCol {
  width: 275px;
}
