.MenuItem {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 130px;
  margin: 0 10px 10px 0;
  border: 2px solid #dddddd;
  border-radius: 15px;
  width: 100%;
  background-color: white;
}

.MenuItem:hover {
  cursor: pointer;
  border: 2px solid #d5d5d5;
}

.MenuItem:active {
  border: 2px solid #cccccc;
}

.MenuItemText {
  padding: 8px 15px 8px 15px;
  float: left;
  width: 70%;
  height: 130px;
}

.MenuItemName {
  font-weight: bold;
}

.MenuItemPrice {
  font-weight: bold;
  font-size: 0.9em;
}

.MenuItemDescription {
  color: #444444;
  font-size: 0.9em;

  /* Source: https://css-tricks.com/line-clampin/ */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  height: 66px;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.MenuItemImage {
  float: right;
  text-align: right;
  width: 30%;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .MenuItem {
    width: 48%;
  }
}
