.RestaurantViewComponentItem:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.RestaurantViewComponentItem:active {
  background-color: #dddddd;
}

.RestaurantViewComponentImage {
  margin-right: 20px;
}

.RestaurantViewComponentName {
  display: inline-block;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.RestaurantViewComponentRating {
  display: inline-block;
  margin-left: 10vw;
}

.RestaurantViewComponentNumReviews {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8em;
}

.RestaurantViewComponentPrice {
  display: inline-block;
  margin-left: 10vw;
}

.RestaurantViewComponentDistance {
  display: inline-block;
  margin-left: 10vw;
  font-size: 0.8em;
  color: grey;
}
