.RestaurantContainer {
  text-align: left;
  width: 100%;
  padding: 0 50px 0 50px;
  max-width: 1300px;
  margin: 30px auto;
}

.RestaurantTitleContainer {
  width: 100%;
}

.RestaurantImage {
  padding-bottom: 20px;
}

.RestaurantName {
  font-weight: bold;
}

.RestaurantFlexContainer {
  display: flex;
  text-align: center;
}

.RestaurantRating {
  width: 33%;
  border-right: 1px solid lightgrey;
}

.RestaurantPrice {
  width: 33%;
  border-right: 1px solid lightgrey;
}

.RestaurantDistance {
  color: grey;
  width: 33%;
}

.RestaurantItemContainer {
  background-color: #f6f6f6;
  min-height: 80vh;
}

.RestaurantFilters {
  padding: 30px 0 10px 0;
}

.RestaurantMenuCollection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
