.splashcontainer {
  display: flex;
  overflow: hidden;
}

.splashcontainer img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.splashzone {
  font-family: "Catamaran", sans-serif;
  color: black;
  width: 100%;
  margin-top: 33vw;
}

.splashzone h1 {
  font-weight: bolder;
  font-size: 2em;
}

.splashbox {
  height: 45px;
  width: 76%;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 15px;
  padding: 5px 20px 0 20px;
  font-size: 1.05em;
}

.splashgo {
  width: 18%;
  height: 45px;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 15px !important;
}

@media only screen and (min-width: 1024px) {
  .splashzone {
    margin-top: 10vw;
    margin-left: 10vw;
    color: white;
    width: auto;
  }

  .splashzone h1 {
    font-size: 2.3em;
  }

  .splashbox {
    width: 78%;
    margin-left: 0px;
  }

  .splashgo {
    width: 20%;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1140px) {
  .splashzone h1 {
    font-size: 2.7em;
  }
}

@media only screen and (min-width: 1366px) {
  .splashzone h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1480px) {
  .splashzone h1 {
    font-size: 3.3em;
  }
}

@media only screen and (min-width: 1600px) {
  .splashzone h1 {
    font-size: 3.5em;
  }
}
