.splashcontainer {
  display: flex;
  overflow: hidden;
}

.splashcontainer img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.splashcontainermobile {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 388px;
  margin-top: -80px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.splashcontainermobile img {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
}

.splashzonesticky {
  position: absolute;
  font-family: "Catamaran", sans-serif;
  color: white;
  width: 100%;
  top: 140px;
  z-index: 2;
}

.splashzonesticky h1 {
  font-weight: bolder;
  font-size: 1.7em;
  color: white;
}

.splashzone {
  position: absolute;
  font-family: "Catamaran", sans-serif;
  color: white;
  width: 100%;
  top: 140px;
}

.splashzone h1 {
  font-weight: bolder;
  font-size: 1.7em;
  color: white;
  padding-top: 0px;
}

.splashbox {
  height: 45px;
  width: 74%;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 15px;
  padding: 5px 20px 0 20px;
  font-size: 1.05em;
}

.splashgo {
  width: 16%;
  height: 45px;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 15px !important;
}

@media only screen and (min-width: 435px) {
  .splashbox {
    width: 76%;
  }

  .splashgo {
    width: 18%;
  }

  .splashzone h1 {
    font-size: 2.2em;
  }

  .splashzonesticky h1 {
    font-size: 2.2em;
  }

  .splashzone {
    top: 135px;
  }

  .splashzonesticky {
    top: 135px;
  }
}

@media only screen and (min-width: 595px) {
  .splashzone h1 {
    font-size: 2.5em;
  }

  .splashzonesticky h1 {
    font-size: 2.5em;
  }

  .splashzone {
    top: 130px;
  }

  .splashzonesticky {
    top: 130px;
  }
}

@media only screen and (min-width: 780px) {
  .splashzone h1 {
    font-size: 3em;
  }

  .splashzonesticky h1 {
    font-size: 3em;
  }

  .splashzone {
    top: 125px;
  }

  .splashzonesticky {
    top: 125px;
  }
}

@media only screen and (min-width: 1024px) {
  .splashcontainer {
    display: flex;
    overflow: hidden;
  }

  .splashzone {
    width: 450px;
    top: 8vw;
    left: 12vw;
  }

  .splashzone h1 {
    padding-top: 23px;
    font-size: 2.3em;
  }

  .splashzonesticky {
    width: 450px;
    position: fixed;
    top: -10px;
    left: 12vw;
  }

  .splashzonesticky h1 {
    font-size: 0px;
  }

  .splashbox {
    width: 78%;
    margin-left: 0px;
  }

  .splashgo {
    width: 20%;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1140px) {
  .splashzone {
    width: 500px;
  }
  .splashzone h1 {
    font-size: 2.7em;
    padding-top: 15px;
  }
  .splashzonesticky {
    width: 500px;
  }
}

@media only screen and (min-width: 1366px) {
  .splashzone {
    width: 575px;
  }
  .splashzone h1 {
    font-size: 3em;
    padding-top: 10px;
  }
  .splashzonesticky {
    width: 575px;
  }
}

@media only screen and (min-width: 1480px) {
  .splashzone {
    width: 625px;
  }
  .splashzone h1 {
    font-size: 3.3em;
    padding-top: 3px;
  }
  .splashzonesticky {
    width: 625px;
  }
}

@media only screen and (min-width: 1600px) {
  .splashzone {
    width: 650px;
  }
  .splashzone h1 {
    font-size: 3.5em;
    padding-top: 0px;
  }
  .splashzonesticky {
    width: 650px;
  }
}
