.RestaurantListContainer {
  min-height: 79.4vh;
  padding-top: 0;
}

.RestaurantListMostPopular {
  padding: 20px 0 20px 20px;
  text-align: left;
}

.RestaurantListLeftPane {
  padding-top: 30px;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid lightgray;
}

.RestaurantListRightPane {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.RestaurantListGroup {
  text-align: left;
}

.RestaurantMenuItemTypeContainer {
  display: flex;
  margin: 20px 0 5px 0;
  overflow: hidden;
}

.RestaurantMenuItemTypeDescription {
  font-weight: bold;
  font-size: 0.9em;
  padding-top: 5px;
}

.RestaurantMenuItemType {
  text-align: center;
  margin-right: 1.8vw;
}

.RestaurantMenuItemType img {
  border-radius: 50%;
}

.RestaurantListAppliedFilters {
  width: 100%;
  padding: 10px 20px 5px 20px;
  border-top: 1px solid lightgray;
  display: flex;
  overflow: hidden;
}

.RestaurantListAppliedFilters h5 {
  font-size: 1em;
}

.RestaurantListAppliedFilter {
  width: 90px;
  display: inline-flex;
  margin-bottom: 10px;
  margin-left: 1.8vw;
  background-color: lightgray;
  border-radius: 6px;
}

@media only screen and (min-width: 1024px) {
  .RestaurantListContainer {
    display: flex;
    padding-top: 80px;
  }
  .RestaurantListLeftPane {
    text-align: left;
    padding-left: 20px;
    width: 25%;
    border-bottom: none;
    border-right: 1px solid lightgray;
    min-height: 70vh;
  }

  .RestaurantListRightPane {
    width: 75%;
    padding-top: 10px;
  }
}
