.RestaurantListComponentItem {
  display: flex;
}

.RestaurantListComponentItem:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.RestaurantListComponentItem:active {
  background-color: #dddddd;
}

.RestaurantListComponentImage {
  margin-right: 20px;
}

.RestaurantListComponentName {
  display: inline-block;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 10px;
  min-width: 130px;
}

.RestaurantListGrouping {
  width: 50%;
  float: right;
  display: inline-flex;
  padding-top: 24px;
}

.RestaurantListComponentRating {
  margin-left: 5vw;
}

.RestaurantListComponentPrice {
  margin-left: 5vw;
}

.RestaurantListComponentDistance {
  margin-left: 5vw;
  font-size: 0.8em;
  color: grey;
}
