.RestaurantListContainer {
  min-height: 79.4vh;
  padding-top: 0;
}

.RestaurantListMostPopular {
  padding: 20px 0 20px 20px;
  text-align: left;
}

.RestaurantListLeftPane {
  padding-top: 30px;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid lightgray;
}

.RestaurantListLeftPane h4 {
  font-weight: bold;
  font-size: 1.6em;
}

.RestaurantListLeftPane h5 {
  padding-top: 20px;
}

.RestaurantListLeftPane img {
  border: 1px solid #dddddd;
  border-radius: 2px;
}

.RestaurantListLeftPane img:hover {
  cursor: pointer;
}

.RestaurantListRightPane {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.RestaurantListGroup {
  text-align: left;
}

.RestaurantMenuItemTypeContainer {
  display: flex;
  margin: 20px 0 5px 0;
  overflow: hidden;
}

.RestaurantMenuItemTypeDescription {
  font-weight: bold;
  font-size: 0.9em;
  padding-top: 5px;
  text-align: center;
  padding-right: 30px;
}

.RestaurantMenuItemType {
  text-align: center;
  margin-right: 1.8vw;
}

.RestaurantMenuItemType:hover {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.RestaurantMenuItemType img {
  width: 100px;
  border-radius: 50%;
}

.RestaurantListAppliedFilters {
  width: 100%;
  padding: 15px 20px 10px 20px;
  border-top: 1px solid lightgray;
  display: flex;
  overflow: hidden;
}

.RestaurantListAppliedFilters h5 {
  font-size: 1em;
  padding-top: 2px;
}

.RestaurantListAppliedFilterContainer {
  min-height: 34px;
}

.RestaurantListAppliedFilter {
  min-width: 90px;
  max-width: 170px;
  display: inline-flex;
  margin-bottom: 10px;
  margin-left: 1.8vw;
  background-color: lightgray;
  border-radius: 6px;
}

.RestaurantListAppliedFilter:hover {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@media only screen and (min-width: 1024px) {
  .RestaurantListContainer {
    display: flex;
    padding-top: 80px;
  }
  .RestaurantListLeftPane {
    text-align: left;
    padding-left: 20px;
    width: 25%;
    border-bottom: none;
    border-right: 1px solid lightgray;
    min-height: 70vh;
  }

  .RestaurantListRightPane {
    width: 75%;
    padding-top: 10px;
  }
}
