.RestaurantContainer {
  text-align: left;
  width: 1200px;
  margin: 30px auto;
}

.RestaurantTitleContainer {
  width: 100%;
}

.RestaurantImage {
  padding-bottom: 20px;
}

.RestaurantName {
  font-weight: bold;
}

.RestaurantFlexContainer {
  display: flex;
  text-align: center;
}

.RestaurantRating {
  width: 33%;
  border-right: 1px solid lightgrey;
}

.RestaurantPrice {
  width: 33%;
  border-right: 1px solid lightgrey;
}

.RestaurantDistance {
  color: grey;
  width: 33%;
}

.RestaurantFilters {
  padding: 10px 0 20px 0;
}

.RestaurantMenuCollection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.RestaurantMenuItem {
  height: 200px;
  background-color: lightgray;
  padding: 40px;
  margin: 10px;
  border: 1px solid blue;
  width: 48%;
}
